body {
  background-color: rgb(255, 217, 50);
}

h1 {
  color: rgb(130, 0, 255);
}

h2 {
  color: rgb(100, 0, 255);
}

img {
  width: 25%;
  border: 2px dotted purple;
  margin-left: 35%;
}

img:hover {
  width: 30%;
}

.project-one {
  padding: 20px;
  border: 5px solid purple;
  border-radius: 10px;
  width: 100%;
}

.project-one h3 {
  text-align: center;
  color: purple;
  background-color: silver;
}

.project-two {
  padding: 20px;
  border: 10px solid blue;
  border-radius: 15px;
  width: 100%;
}

.project-two h3 {
  text-align: center;
  color: blue;
  background-color: red;
}

.link {
  font-weight: bold;
}

.link:hover {
  color: pink;
  font-size: 120%;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-bottom: 10px;
  border-left: 5px solid red;
  background-color: white;
  padding-left: 10%;
  width: 40%;
}

li {
  padding-top: 15px;
  padding-bottom: 10px;
}

li a:hover {
  background-color: black;
  font-size: 110%;
  color: turquoise;
  text-decoration: none;
}

#myself {
  padding: 20px;
  border: 15px solid green;
  border-radius: 20px;
  background-color: yellow;
}

#myself h2 {
  text-align: center;
  color: green;
}

#me {
  font-size: 25px;
  color: green;
}

nav {
  margin: 18px;
  background-color: white;
}

nav a:hover {
  background-color: orange;
  font-size: 120%;
  text-decoration: none;
}

footer {
text-align: center;
}
